<!DOCTYPE html>

<html lang="zh">
	<head>
		<meta charset="utf-8">
		<title>更新日志</title>
	</head>
	<body align="center"" >
		
		<div style="width: 56%;margin: 0 auto;">
			
			<header align="center" >
				<div align="left" >
					<a href="./">
						<img src="https://www.meigsmart.com/userfiles/images/2020/03/23/2020032311354713.png" style="width: 200px;" alt="上海·美格" />
					</a>
				</div>
				<div align="center">
					<h1>工作报告系统</h1>
					<p><time pubdate datetime="2021-07-19"></time></p>
				</div>
			</header>
			
			
			<div style="width: 56%;margin: 0 auto;">
				
				
				<div style="justify-content:center;">
					<h3>v1.50     2021-09-18</h3>
					<hr />
					<p>1、扩充单元存储空间 --- 任务、简介与备注 最大可写入3072个汉字</p>
					<p>2、新增 未提交日报通知邮件：星期提醒 与 网站主页链接</p>
					<p>3、优化通知邮件 --- 减少内存占用</p>
				</div>
				
				
				<div style="justify-content:center;">
					<h3>v1.40     2021-09-01</h3>
					<hr />
					<p>1、修复 部门日报区间查询 跨月份处理失败问题</p>
					<p>2、新增 每日8点检测前一日未提交日报人员，邮件通知</p>
					<p>3、邮件分组</p>
				</div>
				
				<hr/>
				
				
				<div style="justify-content:center;">
					<h3>v1.30     2021-08-25</h3>
					<hr />
					<p>1、新增 事假 - 请事假需要填写</p>
					<p>2、新增 月报 处理新入职与事假处理</p>
					<p>3、新增 姓名为null防呆</p>
					<p>4、新增 日期区间防呆，结束时间需要大于开始时间</p>
					<p>5、修复 部分人员 邮件无日报表格数据</p>
					<p>6、其它小问题</p>
				</div>
				
				<hr/>
				
				<div style="justify-content:center;">
					<h3>v1.20     2021-08-10</h3>
					<hr />
					<p>1、新增 更新错误的提交；现在除了删除可以更新了。</p>
				</div>
				
				<hr/>
				
				<div style="justify-content:center;">
					<h3>v1.10     2021-08-06</h3>
					<hr />
					<p>1、新增 周报生成</p>
					<p>2、新增 日报邮件 附带日报详细内容表格</p>
					<p>3、修改 表格居左显示</p>
					<p>4、修改 换行符未处理问题</p>
					<p>5、修改 若干显示问题</p>
				</div>
				
				<hr/>
				
				<div style="justify-content:center;">
					<h3>v1.00     2021-08-01</h3>
					<hr />
					<p>1、新增 添加日报</p>
					<p>2、新增 查询日报</p>
					<p>3、新增 删除日报</p>
					<p>4、新增 发送月报</p>
					<p>5、修改首页布局</p>
					<p>6、美化报错界面</p>
					<p>7、新增部门日报</p>
					<p>8、并发邮件</p>
					<p>9、自动跳转界面</p>
					<p>10、修改首页布局,查询 提交分开</p>
					<p>11、部门日报区间查询功能</p>
					<p>12、新增 项目 excel 文档导出</p>
					<p>13、查询未提交日报人员功能</p>
					<p>14、修复工时半小时 自动增加一小时问题( int 类型数据四舍五入，改浮点型)</p>
					<p>15、新增 错误的项目提示</p>
					<p>16、新增 查询部门日报区间，判断结束日期必须大于开始日期</p>
					<p>17、去除各项默认值</p>
					<p>18、修改若干小问题</p>
					
				</div>
				

				
				<div style="justify-content:center;">
					<a href="./">返回首页</a>
				</div>
			</div>
			
			<footer align="center" >
			    <p>美格 · 测试</p>
				<p><dfn><abbr title="发布时间：2021-09-18">版本：v1.50</abbr><a href="./update.html">更新日志</a></dfn></p>
			    <p><time 发布日期时间="2021-08-01"></time></p>
			</footer>
		
		</div>
	</body>
</html>
